/* This is a comment */
#title {
    color: blue;
    border-color: black;
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
}

.myform {
    color: rgb(255,0,0);
}

* {

}

header {
    color: rgba(255, 100, 255, 50)
}

a[href="https://na.leagueoflegends.com/en-us/"] {
    
}

a:hover {
    
}

h2, h3 {
    color: #FF00FF
}

div i {
    color: hsl(184, 100%, 50%);
}

div > b {
    background-color:hsla(120,60%,70%,0.3);
}

ul ~ p {

}

main + footer {

}

ol.minilist {
    
}